@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>

<div class="text-center bg-primary">
    <h1 class="display-4">Welcome</h1>
    <p>
        This Task Manager App aims to help anyone with as busy program keep track of all the responsibilities of daily life.
    </p>
    <a class="btn btn-success btn-lg" href="/TasksPages/Create">Get Started</a>
</div>

